.header__link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: opacity .5s ease;
}

.header__link:hover {
    opacity: 0.8;
    color: #B49082;
}

@media screen and (max-width: 767px) {
    .header__link {
        font-size: 24px;
        line-height: 24px;
    }
}